<div class="container">
  <div class="box box-lg box-align-center green">A</div>
  <div class="box box-lg box-align-center aquamarine">n</div>
  <div class="box box-lg box-align-center bisque">i</div>
  <div class="box box-lg box-align-center aqua">m</div>
  <div class="box box-lg box-align-center antiquewhite">a</div>
  <div class="box box-lg box-align-center azure">t</div>
  <div class="box box-lg box-align-center beige">i</div>
  <div class="box box-lg box-align-center bisque">o</div>
  <div class="box box-lg box-align-center blanchedalmond">n</div>
</div>

<div class="btn-area">
  <div class="btn" ng-click="run()"><span class="btn-label">run</span></div>
</div>