/* You can add global styles to this file, and also import other style files */
@import './thirdPartyStyles.css';

html {
  font-size: 62.5%;
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
}
a {
  color: #444;
}
a, input, li, ol, p, ul {
  font-size: 1.4rem;
  line-height: 2.4rem;
  letter-spacing: .03rem;
  font-weight: 400;
  color: #444;
}
